<div>
  <h1>{{recipe?.description}}</h1>
</div>

<div *ngIf="recipe?.ingredients && recipe?.ingredients.length">
  <p style="font-size: 18px;font-weight: 700;">Indredients : </p>
  <table width="50%">
    <tr *ngFor="let x of recipe?.ingredients">
      <td style="text-align: left; font-weight: 600;font-family: Verdana, Geneva, Tahoma, sans-serif;"> {{x?.name}}</td>
      <td style="text-align: right; font-weight: 600; font-family: Verdana, Geneva, Tahoma, sans-serif;color: #e985e9;"> {{x?.amount}}</td>
    </tr>
  </table>
</div>