<a style="cursor: pointer"
  [routerLink]="[index]"
  routerLinkActive = "active"
  class="list-group-item clearfix"
  style="margin-bottom: 1rem;"
>
  <div class="pull-left">
    <h4 class="list-group-item-heading">{{ recipe.name }}</h4>
    <span *ngIf="recipe?.description" style="font-size: 16px; font-weight: 600;">Description :: </span><p class="list-group-item-text">{{ recipe?.description }}</p>
    <span *ngIf="recipe?.category" style="font-size: 16px; font-weight: 600;">category :: </span> <p class="list-group-item-text">{{ recipe?.category }}</p>
  </div>
</a>
